# (.env file only)
NODE_ENV=development # development | staging | production

# Discord
DISCORD_BOT_TOKEN=MTEw...your-discord-token-here
DISCORD_CLIENT_ID=123456789012345678
DISCORD_CLIENT_SECRET=abcdef1234567890abcdef1234567890
DISCORD_DEPLOY_GUILD_ID=876543210987654321

# GitHub
GITHUB_APP_ID=123456789012345678
GITHUB_CLIENT_ID=123456789012345678
GITHUB_CLIENT_SECRET=abcdef1234567890abcdef1234567890
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
your super long key from the .pem file goes here
-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=super-secret-webhook-key-change-me

# Server
SERVER_WEBHOOK_SECRET=super-secret-webhook-key-change-me
SERVER_API_URL=http://localhost:4000

# Base Networking
PORT=3001
BASE_URL=http://localhost
